<p>hello from : app/views/menu_items/index.html.erb</p>
<h1>Menu</h1>
<ul>
  <% @menu_items.each do |menu_item| %>
    <li>
      <%= link_to menu_item.name, menu_item_path(menu_item) %> - <%= number_to_currency(menu_item.price) %>
    </li>
  <% end %>
</ul>

